button[title="View fullscreen"] {
    visibility: hidden;
    /* disable view full screen on image */
}

.stApp a:first-child {
    display: none;
    /* disable title link on markdown */
}

details {
    display: none;
    /* disable save button on graph */
}

div[data-testid=block-container] {
    padding: 1rem 1rem 1rem;
}

footer {
    display: none;
}

div {
    text-align: center;
}