/* set shit to center */
div[data-testid="column"]:nth-child(2) {
    text-align: center;
    height: 90vh;
    border-radius: 16px;
    border: 1px solid #ccc;
}


div[data-testid=stImage] {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
