/* set shit to center */
div[data-testid="column"] {
    text-align: center;
    height: 90vh;
    border-radius: 16px;
    border: 1px solid #ccc;
}

div[data-testid=stImage] > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    max-width: 80vh;
    transform: translate(-50%, -50%);
    margin-top: 200px;
  }